@model ETask1.Models.User

@{
    ViewBag.Title = "MyProfile";
}
@section menu
{
  @Html.Partial("MenuPartialView")
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
     @Html.HiddenFor(model => model.UserID)
      @Html.HiddenFor(model => model.UserName)
      @Html.HiddenFor(model => model.DepartmentID)   
      @Html.HiddenFor(model => model.DesignationID)
      @Html.HiddenFor(model => model.Password)     
      @Html.HiddenFor(model => model.DOJ)
     @Html.HiddenFor(model => model.UserType)
     @Html.HiddenFor(model => model.Status)
     
    <span class="cap">My Profile</span>
    <br><br>
    <div class="table no-border">
		<div id="r">
			<div class="row">
				<div class="table-cell label">@Html.LabelFor(model => model.UserID):</div>
				<div class="table-cell">@Html.DisplayFor(model => model.UserID)</div>
				<div class="table-cell label">@Html.LabelFor(model => model.UserName):</div>
				<div class="table-cell">@Html.DisplayFor(model => model.UserName)</div>
			</div>
			<div class="row">
				<div class="table-cell label">@Html.LabelFor(model => model.Department):</div>
				<div class="table-cell">@Html.DisplayFor(model => model.Department.DepartmentName)</div>
				<div class="table-cell label">@Html.LabelFor(model => model.UserType):</div>
				<div class="table-cell">@Html.DisplayFor(model => model.UserType)</div>
			</div>
			<div class="row">
				<div class="table-cell label">@Html.LabelFor(model => model.Email):</div>
				<div class="table-cell">@Html.EditorFor(model => model.Email)<span class="red">*</span>
				    <div class="table-cell lo" id="msgEmail"  class="red">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "red" })</div>
			    </div>
			    <div class="table-cell label">@Html.LabelFor(model => model.PhoneNo):</div>
			    <div class="table-cell">@Html.EditorFor(model => model.PhoneNo)<span class="red">*</span>
			        <div class="table-cell lo" id="msgMobile"  class="red">@Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "red" })</div>
			    </div>
			</div>
			<br><br><br>
			<div class="row">
				<div class="table-cell label"><input type="checkbox" class="chkbox" name="chkChangePswd" id="chkChangePswd" value="Change Password">Change Password</div>
			</div>
		</div>
		<div class="newrow">
			<div class="row">
				<div class="table-cell label">Old Password:</div>
				@*<div class="table-cell">@Html.EditorFor(model => model.Password)<span class="red">*</span>*@
					<div class="table-cell"><input type="password" id="txtOldPassword"><span class="red">*</span>
                    <div class="table-cell lo" id="msgOldPassword"  class="red"></div>
				</div>
				<div class="table-cell label">New Password:</div>
@*				<div class="table-cell">@Html.EditorFor(model => model.ConfirmPassword)<span class="red">*</span>
*@                <div class="table-cell"><input type="password" id="txtNewPassword" name="txtNewPassword"><span class="red">*</span>
					<div class="table-cell lo" id="msgNewPassword"  class="red"></div>
				</div>
			</div>
			<div class="row">
				<div class="table-cell label">@Html.LabelFor(model => model.ConfirmPassword)</div>
@*				<div class="table-cell">@Html.EditorFor(model => model.ConfirmPassword)<span class="red">*</span>*@
					<div class="table-cell"><input type="password" id="txtConfirmPassword" name="txtConfirmPassword"><span class="red">*</span>
                    <div class="table-cell lo" id="msgConfirmPassword"  class="red"></div>
				</div>
			</div>
		</div>
		<div id="r">
			<div class="row">
				<div class="table-cell label"><input type="submit" name="btnSubmit" value="Save"></div>
			</div>	
		</div>
	</div>
	<div id="mandatory">
		<h4>Fields marked <span class="red">*</span> are mandatory.</h4>
	</div>
}
    