@model ETask1.Models.Department

@{
    ViewBag.Title = "Create";
}
@section menu
{
  @Html.Partial("MenuPartialView")
}



@using (Html.BeginForm("Create", "Department", FormMethod.Post, new { id = "frmNewDepartment" }))
{
    @Html.ValidationSummary(true)

    <span class="cap">New Department</span>
    <br><br>
    <div class="table no-border">
	    <div class="row">
	        <div class="table-cell label">Name:</div>
	        <div class="table-cell">
                @Html.EditorFor(model=>model.DepartmentName)
                <span class="red">*</span>
	            <div class="table-cell lo" id="msgName"  class="red">
                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new {@class="red" })
                </div>
		    </div>
		</div>
		@*<div class="row">
	        <div class="table-cell label">Head:</div>
	        <div class="table-cell">
                 @Html.EditorFor(model=>model.DepartmentHead)
                 <span class="red">*</span>
	             <div class="table-cell lo" id="msgName"  class="red">
                     @Html.ValidationMessageFor(model => model.DepartmentHead, "", new {@class="red" })
                </div>
	        </div>
	    </div>*@
	    <div class="row">
	        <div class="table-cell label">
                <input type="submit" name="btnSubmit" id="btnNewDepartment" value="Save">
            </div>
	    </div>
	</div>
    <div id="mandatory">
	    <h4>Fields marked <span class="red">*</span> are mandatory.</h4>
	</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
